*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}
.clima{
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.25);
}
.search-container,footer,.explain{
    margin-top: 15px;
}
.title{
    margin-bottom: 20px;
}
.search-container input{
    padding: 8px;
    width: 70%;
    font-size: 15px;
    border: 0;
    outline: none;
    border-radius: 5px;
    color: #000;
}
.search-container button{
    padding: 8px;
    border: 0;
    border-radius: 5px;
    color: #fff;
    background-color: #555;
    cursor: pointer;
}
.search-container button:hover{
    background-color: #444;
}
.container{
    height: 250px;
    width: 250px;
    margin: 15px 0;
    border: 2px solid darkgrey;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
}
.container h2{
    text-align: center;
    color: #fff;
    margin: 20px 0;
}
.clima-container{
    display: flex;
    justify-content: space-around;
    color: #fff;
}
.temperatura{
    text-align: center;
    width: 50%;
}
.vento{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
}
.vento-area{
    height: 55px;
    width: 55px;
    border: 1px solid #fff;
    border-radius: 50%;
    align-self: center;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.vento-ponto{
    height: 1px;
    width:15px;
    border: 1px solid #fff;
    transform-origin: left;
}
.vento-info, .temp-info, .aviso,#climaImg{
    margin-top: 10px;
}
.aviso{
    display: none;
}
.footer{
    position: fixed;
    bottom: 5px;
}
.loader{
    visibility: hidden;
    margin-top: 5px;
    height: 50px;
    width: 50px;
    background-color: #232323;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
}
.loader-item{
    height: 25px;
    width: 5px;
    background-color: #fff;
    border-radius: 5px;
    animation: scale-up 2s ease-in-out infinite;
}
.loader-item--secund{
    animation-delay: .3s;
}
.loader-item--third{
    animation-delay: .6s;
}

@keyframes scale-up{
    20%{
        transform: scaleY(1.5);
    }
    60%{
        transform: scaleY(1);
    }
}
@media (max-width: 500px) {
    .clima{
        width: 100vw;
    }
}