* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.clima {
    min-height: 300px;
    width: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 16px;
    gap: 10px;
    background-color: #00000040;
    border: 2px ridge #fff;
    box-shadow: 0 0 8px #000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.search-container,
footer {
    margin-top: 15px;
}

.explain{
    color: rgb(216, 216, 216);
}

.search-container input {
    padding: 8px;
    width: 77%;
    font-size: 15px;
    border: 0;
    outline: none;
    border-radius: 5px;
    color: #000;
}

.search-container button {
    padding: 8px;
    border: 0;
    border-radius: 5px;
    color: #fff;
    background-color: #555;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #444;
}

.container {
    height: 250px;
    width: 250px;
    margin: 15px 0;
    border: 2px solid darkgrey;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
}

.container h2 {
    text-align: center;
    color: #fff;
    margin: 20px 0;
}

.clima-container {
    display: flex;
    justify-content: space-around;
    color: #fff;
}

.temperatura {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
    width: 50%;
}

.vento {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 10px;
    width: 50%;
}

.vento-area {
    height: 55px;
    width: 55px;
    border: 1px solid #fff;
    border-radius: 50%;
    align-self: center;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vento-ponto-container {
    height: 50px;
    width: 50px;
    margin-top: 20px;
    border: 2px solid #fff;
    border-bottom: none;
    border-right: none;
    border-left: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vento-ponto {
    height: 1px;
    width: 15px;
    margin-left: 10px;
    border: 1px solid #fff;
    transform-origin: left;
    transform: rotate(-145deg);
}

.aviso {
    display: none;
}

.footer {
    position: fixed;
    bottom: 5px;
}

.loader {
    visibility: hidden;
    margin-top: 5px;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
}

.loader-item {
    height: 25px;
    width: 5px;
    background-color: #fff;
    border-radius: 5px;
    animation: scale-up 2s ease-in-out infinite;
}

.loader-item--secund {
    animation-delay: .3s;
}

.loader-item--third {
    animation-delay: .6s;
}

@keyframes scale-up {
    20% {
        transform: scaleY(1.5);
    }

    60% {
        transform: scaleY(1);
    }
}

@media (max-width: 500px) {
    .clima {
        width: 90vw;
    }
}